<div class="container page-container" id="blogContainer">

  <div class="row">
		<!-- .blog-main -->
    <div class="col-sm-8 blog-main">

			<!-- .blog-post -->
			{{#each model as |post|}}
				<div class="blog-post">
					<h2 class="blog-post-title">{{post.title}}</h2>
					<p class="blog-post-meta">{{post.dayMonthYear}}</p>
					{{{post.content}}}
				</div>
			{{/each}}
			<!-- /.blog-post -->

			{{!-- <nav class="blog-pagination">
			 <a class="btn btn-outline-primary" href="#">Older</a>
			 <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
		 </nav> --}}

	 </div><!-- /.blog-main -->


	 <div class="col-sm-3 offset-sm-1 blog-sidebar">
      {{!-- <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>A blog about programming and life in financial services.</p>
      </div> --}}
      <div class="sidebar-module">
        <h4>Archives</h4>
				{{#each monthGroups as |groupEntry|}}
					<h5>{{groupEntry.month}} {{groupEntry.year}}</h5>
					<ol>
					{{#each groupEntry.entries as |entry|}}
						{{#link-to 'post' entry.id}}
			     	<li><a href="#">{{entry.title}}</a></li>
						{{/link-to}}
			  	{{/each}}
				</ol>
				{{/each}}

      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
